@import url("https://fonts.googleapis.com/css?family=Manrope:regular,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");
@import url("reset.css");

.body {
    background: #14141497;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    color: bisque;
    font-family: "Epilogue", sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
}

.lsn-work {
    color: bisque;
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    text-shadow: 3px 4px 10px rgba(0, 0, 0, 1);
    padding: 10px;
    margin: 20px;
}

.container-1 {
    margin: 0 auto;
    width: 1170px;
    padding-inline: 15px;
    font-family: "Epilogue", sans-serif;
    color: bisque;
    font-size: 0;
    width: 100%;
}

.work-main {
    border: 4px solid bisque;
    margin-bottom: 20px;
    padding: 5px;
}

.border {
    /* border: 6px solid #046491; */
    /* border: 6px dotted #1c0491; */
    /* border: 6px dashed #1c0491; */
    /* border: 6px double #1c0491; */
    font-size: 16px;
    padding: 20px;
    margin: 10px;
    border-top: 6px dotted #735fd5;
    border-right: 6px dashed #2e04ff;
    border-bottom: 6px double #34257e;
    border-left: 6px solid #046491;
    display: inline-block;
}

.outline {
    outline: 6px solid #046491;
    /* outline: 6px dotted #046491; */
    /* outline: 6px dashed #046491; */
    /* outline: 6px double #046491; */
    padding: 20px;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
    max-width: 200px;
}

.outtxt {
    outline: 2px solid #046491;
    max-width: 200px;
}

.border-radius {
    display: inline-block;
    border-radius: 50px;
    background-color: #046491;
    display: inline-block;
    max-width: 200px;
    min-height: 65px;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
}

.fancyborder {
    width: 150px;
    height: 150px;
    background-color: #046491;
    border-radius: 64% 36% 56% 44% / 14% 32% 68% 86%;
    display: inline-block;
    max-width: 200px;
}

.fancytxt {
    vertical-align: middle;
    font-size: 20px;
    max-width: 200px;
}

.box-shadow {
    background-color: #046491;
    border-radius: 10px;
    display: inline-block;
    max-width: 200px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    box-shadow: 8px 9px 12px #735fd5;
}

.opasity {
    font-size: 16px;
    background-color: #046491;
    border-radius: 10px;
    display: inline-block;
    max-width: 200px;
    height: 65px;
    padding: 20px;
    margin: 10px;
    opacity: 0.5;
}

.visibility {
    font-size: 16px;
    background-color: #046491;
    border-radius: 10px;
    display: inline-block;
    max-width: 200px;
    height: 60px;
    padding: 20px;
    margin: 10px;
    visibility: visible;
    /* visibility: hidden; */
    text-align: left;
}

.bgprop {
    width: 100%;
    border: 4px solid bisque;
    margin-bottom: 20px;
    padding: 5px;
}

.background-cap {
    font-size: 18px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 20px;
}


.propitems {
    margin-left: -5px;
    margin-right: -5px;
}

.propitem {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.background-color {
    text-align: center;
    font-size: 16px;
    background-color: #046491;
    padding: 20px;
    max-width: 400px;
    height: 150px;
    margin: 5px;
}

.background-image {
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    text-align: center;
    padding: 20px;
    margin: 5px;
    max-width: 400px;
    height: 150px;
    background-size: 100%;
}

.linear-gradient {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background: linear-gradient(90deg, rgba(134, 5, 191, 1) 20%, rgba(9, 9, 121, 1) 53%, rgba(0, 212, 255, 1) 100%);
    padding: 20px;
    margin: 5px;
    max-width: 400px;
    height: 150px;
}

.background-repeat {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    margin: 10px;
    background-size: 50%;
    background-repeat: repeat;
}

.background-position {
    text-align: center;
    font-size: 16px;
    margin: 10px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-position: 50%; */
    /* background-position: top; */
    /* background-position: left; */
    /* background-position: 25% 40%; */
    background-position: right;
}

.background-attachment {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    background-size: 100%;
    background-attachment: fixed;
}

.background-contain {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.background-cover {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.somuchimg {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/bg.jpg");
    max-width: 400px;
    height: 150px;
    background-attachment: scroll;
    background: url("../img/bg.jpg") no-repeat center top / 200px,
        url("../img/bg2.jpg") no-repeat left / 200px,
        url("../img/bg3.jpg") no-repeat right bottom/ 200px,
        linear-gradient(90deg, rgba(209, 214, 4, 1) 20%, rgba(194, 162, 17, 1) 53%, rgba(255, 255, 255, 1) 100%);
}

.patternimg {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/pattern.jpg");
    max-width: 400px;
    height: 150px;
    background-size: 50%;
}

.container-2 {
    margin: 0 auto;
    font-family: "Epilogue", sans-serif;
    background: #fdf0e9;
    padding-inline: 15px;
    display: block;
    width: 1440px;
}

.portfoliosite {
    margin: 135px 0 0 135px;
    display: inline-block;
    vertical-align: top;
}

.abovetxt1 {
    color: #EF6D58;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.maintxt1 {
    max-width: 400px;
    height: 130px;
    color: #391400;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14;
    /* 64/56 */
    letter-spacing: -1px;
    margin-block-end: 26px;
}

.portfolio-dscr1 {
    max-width: 470px;
    height: 72px;
    color: #391400;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin-block-end: 26px;
}

.markblock {
    font-weight: 400;
    line-height: 2;
    color: rgba(57, 20, 0, 0.64);
}

.marklist {
    background: url("../img/check.png") 0 0 / 32px no-repeat;
    margin-bottom: 16px;
    padding-left: 50px;
}

.portfolioimg {
    display: inline-block;
    margin-top: 50px;
    margin-left: 170px;
    padding: 30px;
}

.container-3 {
    background: #141414;
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
    max-width: 1920px;
}

.darkbg {
    min-height: 700px;
    background: url("../img/button-1.png") no-repeat center/370px, linear-gradient(to bottom, rgba(20, 20, 20, 0) 20%, #141414 100%) center / cover no-repeat,
        linear-gradient(to top, rgba(20, 20, 20, 0) 20%, #141414 100%) center / cover no-repeat, url("../img/darkbg.png") center / cover no-repeat scroll;
}

.drktext {
    margin: 0 auto;
    text-align: center;
    max-width: 1100px;
}

.darkcaption1 {
    margin-bottom: 14px;
    color: #fff;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.5;
    /* 87/58 */
}

.darkdscr1 {
    display: inline-block;
    color: #999;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 50px;
}

.button-2 {
    display: inline-block;
    text-align: center;
    background-color: #E50000;
    padding: 18px 24px;
    border-radius: 8px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 50px;
}

.icondark {
    margin-right: 4px;
}

.end {
    margin-bottom: 14px;
    color: #fff;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
}